@import url(parent.css);
        
body{
    background-color: rgb(231, 229, 229);
    color: rgb(42, 41, 58);
}


/* Conteúdo do site */
.conteudo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/*  Sobre o clube */
.sobre{
    padding: 12px; 
    margin-left: 20vh;
    margin-right: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: max-content;
    height: 70vh;
}

.sobre img{
    width: 300px;
    border-radius: 10px;
}
#text{
    margin: 3rem
}
#text h2{
    text-align: left;
    font-size: 60px;
}

/* Transição */
:root{
    --primary: rgba(231, 229, 229, 0.966);
    --secundary: rgb(137, 43, 226);
}

.transition{
    background: linear-gradient(180deg, var(--primary), var(--secundary)), no-repeat, rgb(0, 0, 0);
    background-size: cover;
    height: 30px;
}

/* História do clube */
#alinhamento{
    background-color: rgb(138, 43, 226);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


    width: 100vw;
    height: 90vh;
}

.historia{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    padding: 12px;
    margin-left: 15vh;
    margin-right: 15vh;
}

.historia img{
    background-color: aliceblue;

    width: 30vw;
    height: 30vw;
    border-radius: 10%;

}

.historia h2{
    color: rgb(255, 255, 255);
}

.historia p{
    color: bisque;
}