@import url(parent.css);
        
.active{
    background-color: aquamarine;
    color: rgb(42, 41, 58);
}

.sobre{
    margin-left: 15vh;
    margin-right: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobre img{
    width: 300px;
    
}